In [4]:
import pandas as pd
import numpy as np

In [11]:
df = pd.DataFrame({'data1': np.random.randn(5),'data2': np.random.randn(5),'key1':list('abcde'),
                  'key2': ['one','two','one','two','one']})
df

      data1     data2 key1 key2
0  0.457203 -0.502206    a  one
1 -1.946139 -1.388613    b  two
2 -0.343113 -0.555643    c  one
3 -0.855718 -0.035825    d  two
4 -0.185298 -2.282246    e  one

In [14]:
grouped=df['data1'].groupby(df['key1'])
grouped.mean()

key1
a    0.457203
b   -1.946139
c   -0.343113
d   -0.855718
e   -0.185298
Name: data1, dtype: float64